.wy-side-nav-search {
    background-color: #343131;
}
.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #ff8504;
}
a {
    color: #025691;
}
a:hover {
    color: #0097ff
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

td p img {
    width: 200px;
}
